// #root div:first-child div:last-child {
//     background-color: #000 !important;
// }

// .toolbar {
//     background-color: #fff!important;
// }

// #root div:first-child > div:nth-child(2) {
// height:70% !important;
// }

// #root div:first-child > div:nth-child(3) {
// height:70% !important;
// }   

@import url('https://fonts.googleapis.com/css?family=Alata|Amarante|Bangers|Fira+Sans|Girassol|Indie+Flower|PT+Serif|Raleway|Yanone+Kaffeesatz|Zhi+Mang+Xing&display=swap');
