

// font-family: 'Bangers', cursive;
// font-family: 'Raleway', sans-serif;
// font-family: 'PT Serif', serif;
// font-family: 'Fira Sans', sans-serif;
// font-family: 'Alata', sans-serif;
// font-family: 'Yanone Kaffeesatz', sans-serif;
// font-family: 'Zhi Mang Xing', cursive;
// font-family: 'Indie Flower', cursive;
// font-family: 'Girassol', cursive;
// font-family: 'Amarante', cursive;

.topTitle{
      
    //    font-weight: bold; 
     font-family: 'Raleway', cursive;
     margin: 0px; 
}

.topBar {
    border-bottom: 1px solid rgb(211, 211, 211);
    display: "flex";
    align-items: "baseline";
    justify-content: "space-between";
}