// .apartmentDetails {
//     height: 100%;
//     width: 100%; 
//     display: flex; 
//     flex-direction:column;  
    
// }

.apartmentContainer{
    border-top: rgb(211, 211, 211) 1px solid; 
    border-bottom: rgb(211, 211, 211) 1px solid; 
}

.apartmentContainer:hover{
    background-color: rgba(246, 223, 158, 0.3);
}

.building-content :hover{
   cursor: pointer; 
}

.building-row{
    display: flex; 
    justify-content: "space-between";
    // align-items: "baseline";
    // flex-flow: row no-wrap;
    // align-items: center;

}

.building-name{
    width: auto; 
    // display: inline-block; 
}

.house-type{
 right:0px;
 text-align: right; 
 padding-left:0px; 

}

.district-area{

}

.square-row{
    // display: flex; 
    // justify-content: flex-start;
}

.square{

}

.rent-price{

}

.p-margin{
    margin-bottom: 16px; 
}

.icon-row{
    display:flex; 
    flex-wrap: wrap;
}

.icon-animation {
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    overflow: hidden;
    height: 40px; 
}

.icon-animation:hover{
    height: 70px; 
}

.draft-info-icon-left{
    display: flex; 
    flex-wrap: wrap; 
    padding-right: 0px; 
    
}

.info-icon-left{
    padding: 0px; 
}

.info-num-left p{
   
}


.draft-info-icon-center{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    
}

.info-icon-center{
    padding: 0px; 
    float: center; 
    text-align: center; 
    align-items: flex-end; 
    bottom: 0px; 
}

.info-num-center{
    padding: 0px; 
   padding-top: 0.5rem; 
    text-align: center; 
    float:center; 

}


.draft-info-icon-right{
    display: flex; 
    flex-wrap: wrap; 
    float: right; 
}

.info-icon-right{
    padding: 0px; 
    float: right;
    display: flex; 
    justify-content: flex-end; 
}

.info-num-right{
    padding: 0px; 
    float: right; 
}

.bed-icon{
    color: brown
}

.bed-icon:hover{
    color: rgb(215, 59, 59)
}

.shower-icon{
    color: deepskyblue
}
.shower-icon:hover{
    color: rgb(158, 231, 255)
}

.sofa-icon{
    color: rgb(152,100,71)
}

.sofa-icon:hover{
    color: rgb(240, 212, 176)
}

.parking-icon{
    color: rgb(7, 7, 201)
}
.parking-icon:hover{
    color: rgb(68, 68, 240)
}