// .apartmentDetails {
//     height: 100%;
//     width: 100%; 
//     display: flex; 
//     flex-direction:column;  
    
// }

.apartmentContainer{
    border-top: rgb(211, 211, 211) 1px solid; 
    border-bottom: rgb(211, 211, 211) 1px solid; 
}

.apartmentContainer:hover{
    background-color: rgba(246, 223, 158, 0.126);
}

.building-content :hover{
   cursor: pointer; 
}

.building-row{
    display: flex; 
    justify-content: "space-between";
    // align-items: "baseline";
    // flex-flow: row no-wrap;
    // align-items: center;

}

.building-name{
    width: auto; 
    // display: inline-block; 
}

.building-title{
    font-weight: 700;
    font-size: 22px; 
    font-family: 'Fira Sans', sans-serif;
    
    // color: rgb(183, 147, 93);
}

.house-type{
 right:0px;
 text-align: right; 
 padding-left:0px; 
 font-family: 'Raleway', cursive;
}

.building-area-level{
    font-family: 'Raleway', cursive;
}

.building-squarefeet{
    font-family:  'Fira Sans', sans-serif;
}

.square-row{
    // display: flex; 
    // justify-content: flex-start;
}

.blank-div{
    text-align: center; 
}

.rent-price{

}


.p-margin{
    margin-bottom: 16px; 
}

.icon-row{
    display:flex; 
    flex-wrap: wrap;
}

// .icon-animation {
//     transition: height 0.5s;
//     -webkit-transition: height 0.5s;
//     overflow: hidden;
//     height: 40px; 
// }

// .icon-animation:hover{
//     height: 70px; 
// }


.draft-info-icon-center{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    
}

.info-icon-center{
    padding: 0px; 
    float: center; 
    text-align: center; 
    align-items: flex-end; 
    bottom: 0px; 
}

.info-num-center{
    padding: 0px; 
   padding-top: 0.5rem; 
    text-align: center; 
    float:center; 
    color: rgb(105,105,105);
    font-family: 'Fira Sans', sans-serif;
}

.info-num{
        font-weight: 700;
        font-size: 22px; 
}



.sofa-icon{
    color: rgb(152,100,71)
}
