// body {
//   background-color: #F2F2EE;
// }

.top-left-info-wrap {
  position: absolute;
  top: 1350px;
}

.top-right-info-wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 850px;
  left: 100px;
  width: 80%;
  > div {
    width: 150px;
    height: 150px;
    margin: 30px;
    padding: 10px;
    font-size: 45px;
    border: solid;
    border-color: #9f704f;
    border-width: 2px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);

    > div {
      font-size: 30px;
    }
  }
}

.top-right-info-wrap {
  > div:hover {
    box-shadow: -8px 36px 60px 0px rgba(0, 0, 0, 0.75);
    transform: scale(1.05);
    div:hover {
      color: #fcba03;
    }
  }
}

.map-wrap {
  position: absolute;
  top: 2140px;
  left: 1000px;
  box-shadow: 0px 0px 49px -2px rgba(0, 0, 0, 0.75);
}

.bottom-left-info-wrap {
  position: relative;
  top: 1200px;
}

.bottom-right-info-wrap {
  position: absolute;
  top: 1500px;
  left: 1000px;
}

.whole-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  .carousel-wrap {
    margin: 50px;
    box-shadow: 0px 0px 49px -2px rgba(0, 0, 0, 0.75);
    .carousel-inner > .carousel-item {
      background-size: contain;
      width: 1500px;
      height: 600px;
    }
    .carousel-inner > .carousel-item > img {
      width: 1379px;
      height: 600px;
      // width: 100vw;
      // height: 100%;
      object-fit: cover;
    }
  }
}

.planner-wrap {
  display: flex;
  justify-content: center;
}

.price {
  font-family: sans-serif;
  margin-bottom: 22px;
  font-size: 22px;
}

.building {
  font-family: sans-serif;
  font-size: 30px;
  margin-bottom: 22px;
}

.location {
  font-family: unset;
  font-size: large;
}
