.home-page {
    background-image: url('../background_photos/house_rent.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #464646;
    opacity: 0.9; 
}

.search-bar-box{
    background-color: whitesmoke; 
    opacity: 0.3; 
}