
.delete-times:hover{
    cursor: pointer;
    color: rgb(36, 35, 35);
    }

.delete-times {
    color: rgb(108, 108,108);
}


// .hot-spot-searchbar{
//     border: 1px #C5C5C5 solid !important; 
//     border-radius: 5px !important;
//     padding-left: 9px !important; 
//   }