.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
    &:hover {
      z-index: 1;
    }
  }

  .pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #00cae9;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
  }
  .pin:after {
    content: "";
    width: 14px;
    height: 14px;
    margin: 8px 0 0 8px;
    background: #e6e6e6;
    position: absolute;
    border-radius: 50%;
  }
  
  .bounce {
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 1s;
  }
  
  .pulse {
    background: #d6d4d4;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 11px 0px 0px -12px;
    transform: rotateX(55deg);
    z-index: -2;
  }
  .pulse:after {
    content: "";
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin: -13px 0 0 -13px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    box-shadow: 0 0 1px 2px #00cae9;
    animation-delay: 0.5s;
  }
  
  @keyframes pulsate {
    0% {
      transform: scale(0.1, 0.1);
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      transform: scale(1.2, 1.2);
      opacity: 0;
    }
  }
  
  @keyframes bounce {
    0% {
      opacity: 0;
      transform: translateY(-2000px) rotate(-45deg);
    }
  
    60% {
      opacity: 1;
      transform: translateY(30px) rotate(-45deg);
    }
  
    80% {
      transform: translateY(-10px) rotate(-45deg);
    }
  
    100% {
      transform: translateY(0) rotate(-45deg);
    }
  }

.priceTag {
  position:relative; 
  transform: translateY(-50px);
  display: inline-block; 
  font-family: 'Source Sans Pro', sans-serif;
  
}
.priceTag:hover{
  font-weight: 400;
}

.priceTag::after{
  content: '';
  width: 100%; 
	height: 100%;
  background-color: whitesmoke; 
  // opacity: 0.5; 
	position: absolute; 
	top: 0; 
	left: 0;
  z-index: -1;
  border-radius: 10px;
  border: 2px outset;
  
}

// .priceTag {
// 	display: inline-block;
 
// 	height: 38px;
// 	background-color: #979797;
// 	-webkit-border-radius: 3px 4px 4px 3px;
// 	-moz-border-radius: 3px 4px 4px 3px;
// 	border-radius: 3px 4px 4px 3px;
// 	border-left: 1px solid #979797;

// 	/* This makes room for the triangle */
// 	margin-left: 19px;
	
// 	position: relative;

// 	color: white;
// 	font-weight: 300;
// 	font-family: 'Source Sans Pro', sans-serif;
// 	font-size: 17px;
// 	line-height: 38px;

//   padding: 0 10px 0 10px;
//   transform: translateY(-50px); 
// }

// /* Makes the triangle */
// .priceTag:before {
// 	content: "";
// 	position: absolute;
// 	display: block;
// 	left: -19px;
// 	width: 0;
// 	height: 0;
// 	border-top: 19px solid transparent;
// 	border-bottom: 19px solid transparent;
// 	border-right: 19px solid #979797;
// }

// /* Makes the circle */
// .priceTag:after {
// 	content: "";
// 	background-color: white;
// 	border-radius: 50%;
// 	width: 4px;
// 	height: 4px;
// 	display: block;
// 	position: absolute;
// 	left: -9px;
// 	top: 17px;
// }