.carousel-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-box:hover {
  transform: scale(1.1);
}
.photos-upload {
  .whole-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    .carousel-wrap {
      .carousel-inner > .carousel-item {
        background-size: contain;
        width: 1500px;
        height: 600px;
      }
      .carousel-inner > .carousel-item > img {
        width: 1379px;
        height: 600px;
        // width: 100vw;
        // height: 100%;
        object-fit: cover;
      }
    }
    .drop-zone-wrap {
      width: 1500px;
      height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px;
      box-shadow: 0px 0px 49px -2px rgba(0, 0, 0, 0.75);
      .upload-wrap {
        width: 80px;
        height: 80px;
        .upload-box {
          background-color: transparent;
          width: 80px;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
}

.player-wraper {
  position: relative;
  padding-top: 56.25%;
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
}
